@{
  Layout = "_Layout";
}


<div class = "container">
  <div class = "text-area">
    <h1>Add a vendor</h1>
  </div>


  <form action="/vendors" method="post">
    <div class = "text-area">
      <label for="vendorName">Vendor name</label>
      <input id="vendorName" name="vendorName" type="text">
    </div>
    <div class = "text-area">
      <label for="vendorDescription">Vendor description</label>
      <input id="vendorDescription" name="vendorDescription" type="text">     
    </div>
    <div class = "text-area">
      <button type="submit">Add</button>      
    </div>
  </form>

  <div class = "text-area">
    <div class = "row">
      <div class = "col-md-6">
        <h4><a href="/">Back home</a></h4>
      </div>
      <div class = "col-md-6">
        <h4><a href="/vendors">Back to vendors</a></h4>
      </div>
    </div>
  </div>

</div>
