@{
  Layout = "_Layout";
}

@using VendorOrder.Models;


<div class = "container">
  <div class = "text-area">
    <h3>Here are all the orders for this vendor:</h3>
  </div>

  <ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
  }
  </ol>
  <div class = "text-area">
    <div class = "row">
      <div class = "col-md-6">
        <h4><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h4>
      </div>
      <div class = "col-md-6">
        <h4><a href='/vendors'>Return to Vendor Page</a></h4>        
      </div>
    </div>



  </div>



</div>
